/* General Styles */
.logo img {
    margin-right: 13px;
    width: 90px;
    padding: 18px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 300px;
    background-color: #121212;
    border-radius: 10px;
    margin-bottom: 30px;
}

.h1 {
    padding-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.buttons button {
    width: 335px;
    height: 50px;
    background-color: #121212;
    border: solid rgba(255, 255, 255, 0.528);
    color: white;
    border-width: 0.1px;
    border-radius: 30px;
    cursor: pointer;
}

.txt {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img-btn {
    width: 20px;
    position: absolute;
    left: 30px;
}

button:hover {
    border: solid white;
    border-width: thin;
}

.line {
    margin: 30px 0 35px;
    height: 1px;
    width: 40vw;
    background-color: rgba(255, 255, 255, 0.116);
}

.typeform input {
    margin-bottom: 10px;
    width: 332px;
    padding: 12px;
    border: solid rgba(255, 255, 255, 0.528);
    border-width: 0.1px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #121212;
    box-sizing: border-box;
}

.e {
    margin: 0 0 8px;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input:hover {
    border: solid white;
    border-width: thin;
    box-sizing: border-box;
}

.rem-switch {
    display: flex;
    align-items: center;
    margin-right: 215px;
}

.switch {
    position: relative;
    width: 30px;
    height: 16px;
    display: flex;
    margin-right: 8px;
}

.toggle-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #555;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.toggle-label::before {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: black;
    border-radius: 50%;
    transition: transform 0.1s;
}

.toggle-checkbox:checked + .toggle-label {
    background-color: #00C853;
}

.toggle-checkbox:checked + .toggle-label::before {
    transform: translateX(14px);
}

.remember {
    font-size: 12px;
    margin-left: 0;
    margin-top: 1.3px;
    line-height: 16px;
}

.login {
    margin-top: 40px;
}

.login button {
    width: 335px;
    height: 50px;
    background-color: #00C853;
    border: none;
    border-width: 0.1px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    overflow: hidden;
    margin-bottom: 30px;
}

.txt-log {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
}

.login button:hover {
    background-color: #3be477;
    border: none;
    transform: scale(1.02);
    transform-origin: center;
}

.forget a, .warn a {
    color: white;
}

.forget a:hover {
    color: #00C853;
}

.warn {
    margin-top: 30px;
    margin-bottom: 65px;
}

.warn-txt {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #b3b3b3;
}

.box2 {
    padding: 30px;
    background-color: #121212;
}

.rights {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #b3b3b3;
    white-space: nowrap;
}

.rights a {
    display: inline;
}

/* Media Queries for 1200px and 500px */
@media only screen and (max-width: 1200px) {
    .box {
        margin: 20px 70px;
    }

    .buttons button{
        width: 420px;
    }

    .login button {
        width: 300px;
    }

    .line {
        width: 60vw;
    }

    .typeform input {
        width: 350px;
    }

    .rem-switch{
        margin-right: 229px;
    }
}

@media only screen and (max-width: 500px) {
    .box {
        background-color: black;
        margin: -16px 20px;
        padding: 20px;
    }

    .logo img {
        width: 60px;
    }

    .buttons button, .login button {
        width: 106%;
        font-size: 14px;
        padding: 0 10px;
    }

    .login button {
        width: 200px;
        font-size: 14px;
        padding: 0 10px;
    }

    .txt {
        font-size: 14px;
    }

    .img-btn {
        width: 16px;
        left: 10px;
    }

    .line {
        margin: 26px;
        width: 80vw;
    }

    .typeform input {
        width: 237px;
        font-size: 14px;
        padding: 10px;
    }

    .rem-switch {
        margin-right: 130px;
        /* justify-content: space-between; */
        /* width: 100%; */
    }

    .remember {
        font-size: 10px;
    }

    .login {
        margin-top: 20px;
    }

    .rights {
        text-align: center;
        font-size: 7px;
        padding: 10px;
    }

    .warn {
        display: flex;
        margin-top: 20px;
        margin-bottom: 40px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}
